<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.zunjae.anyme.alpha" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/default_name" android:name="com.zunjae.anyme.AnYmeApp" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:theme="@style/AppThemeDark" android:usesCleartextTraffic="true">
        <provider android:authorities="com.zunjae.anyme.alpha.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider"/>
        <activity android:name="com.zunjae.anyme.AnYmeActivity" android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.zunjae.anyme.features.settings.CustomizeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.zunjae.anyme.features.discord.DiscordExplanationActivity"/>
        <activity android:name="com.zunjae.anyme.features.login.WelcomeActivity"/>
        <activity android:name="com.zunjae.anyme.features.anime.character.CharactersActivity"/>
        <activity android:name="com.zunjae.anyme.features.related.RelatedAnimeActivity"/>
        <activity android:name="com.zunjae.anyme.features.recommendations.AnimeRecommendationsActivity"/>
        <activity android:name="com.zunjae.anyme.features.discover.seasonal.SeasonalAnimeActivity"/>
        <activity android:name="com.zunjae.anyme.features.settings.OptimizeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.zunjae.anyme.features.settings.UserSettingsActivity"/>
        <activity android:name="com.zunjae.anyme.features.discover.favorites.FavoritesActivity"/>
        <activity android:name="com.zunjae.anyme.features.browsers.native_streaming.NativeStreamingEpisodePickerActivity"/>
        <activity android:name="com.zunjae.anyme.features.anime.info_screen.AnimeInfoActivity"/>
        <activity android:name="com.zunjae.anyme.features.bookmarks.AddBookmarkEntriesActivity"/>
        <activity android:name="com.zunjae.anyme.features.bookmarks.BookmarkEntriesActivity"/>
        <activity android:name="com.zunjae.anyme.features.discover.advanced_search.GenreSearchActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.niche.bulk_delete.BulkDeleteActivity"/>
        <activity android:name="com.zunjae.anyme.features.discover.local_search.LocalAnimeSearchActivity" android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.zunjae.anyme.features.discover.fast_search.FastAnimeSearchActivity" android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.zunjae.anyme.features.kanon.KanonExplanation"/>
        <service android:exported="false" android:name="com.zunjae.anyme.features.niche.bulk_delete.BulkDeleteAnimeService"/>
        <activity android:name="com.zunjae.anyme.features.niche.open_intent.HandleIntentActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="myanimelist.net" android:pathPrefix="/anime" android:scheme="https"/>
                <data android:host="myanimelist.net" android:pathPrefix="/character" android:scheme="https"/>
                <data android:host="myanimelist.net" android:pathPrefix="/search" android:scheme="https"/>
                <data android:host="myanimelist.net" android:pathPrefix="/news" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleInstance" android:name="com.zunjae.anyme.features.login.AuthUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="kanonapp.com" android:pathPrefix="/redirect" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.NineAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.AnimeKisaBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.login.LoginBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.light_browsers.KissAsianBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.BestAnimesBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.BasicWebViewBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.AnimeFLVBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.TwistMoeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.TioAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.RyuAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.AnimeHubBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.FourAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.AnimeUltimaBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.KickAssAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.GoGoBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.ChiaAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.HGBrowser" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.HABrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.abstracts.DynamicBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.HPBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.NMOEBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.light_browsers.LightKissBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.AnimePaheBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.sites.DubbedAnimeBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.HMBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.SHMBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.browsers.nsfw.KHBrowser" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.zunjae.anyme.features.bunplayer.AnimeVydiaPlayer" android:screenOrientation="sensorLandscape" android:supportsPictureInPicture="true" android:theme="@style/AppThemeFullScreen" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.zunjae.anyme.features.casting.CastActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.zunjae.anyme.features.login.LoginActivity"/>
        <activity android:name="com.zunjae.anyme.features.kanon.generic_anime_list.GenericAnimeList"/>
        <activity android:name="com.zunjae.anyme.features.recommendations.UserRecsActivity"/>
        <activity android:name="com.zunjae.anyme.features.niche.donate.SupportActivity"/>
        <activity android:name="com.zunjae.anyme.features.browsers.native_streaming.NativeStreamingShowPicker"/>
        <activity android:name="com.zunjae.anyme.features.niche.trace.TraceMoeActivity"/>
        <activity android:name="com.zunjae.anyme.features.niche.PrivacyActivity"/>
        <activity android:name="com.zunjae.anyme.features.niche.FAQActivity"/>
        <activity android:name="com.zunjae.anyme.features.discover.continue_watching.ContinueWatchingV2"/>
        <activity android:name="com.zunjae.anyme.features.discover.advanced_search_v3.AdvancedSearchV3Activity"/>
        <activity android:name="com.zunjae.anyme.HomeActivity" android:windowSoftInputMode="stateHidden"/>
        <service android:exported="false" android:name="com.zunjae.anyme.features.firebase.FirebaseMessageHandler">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/xnotification"/>
        </service>
        <meta-data android:name="io.fabric.ApiKey" android:value="b9873efbc65c2df3179b71c9435607bc976bf2c0"/>
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="true"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="true"/>
        <receiver android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <provider android:authorities="com.zunjae.anyme.alpha.workmanager-init" android:directBootAware="false" android:exported="false" android:multiprocess="true" android:name="androidx.work.impl.WorkManagerInitializer"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.zunjae.anyme.alpha.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <provider android:authorities="com.zunjae.anyme.alpha.crashlyticsinitprovider" android:exported="false" android:initOrder="90" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <activity android:name="com.bugfender.sdk.internal.ui.FeedbackActivity" android:windowSoftInputMode="adjustResize"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.zunjae.anyme.alpha.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.zunjae.anyme.alpha.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>
</manifest>